{%extends 'base.html'%}

{%block body%}

<button type="button" class="btn btn-dark"   onclick="window.location.href='/lehrer/add'">add</button>

<table class="table">
    <thead>
        <tr>
            <td scope="col">Lehrer ID</td>
            <td scope="col">Vorname</td>
            <td scope="col">Nachname</td>
            <td scope="col">Faecher Unterrichtet</td>
            <td scope="col">Anzahl Klassen</td>
        </tr>
    </thead>
    <tbody>
        <body style="background-color:rgb(199, 194, 194);">
        {%for item in item.items:%}
            <tr>
                <td scope="row">{{item.Lehrer_Id}}</td>
                <td>{{item.Vorname}}</td>
                <td>{{item.Nachname}}</td>
                <td>{{item.Faecher_Unterrichtet}}</td>
                <td>{{item.Anzahl_Klassen}}</td>
                <td>

                    <form method="post" action="/lehrer/delete">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <input type="hidden" id="Lehrer_Id" name="Lehrer_Id" value="{{item.Lehrer_Id}}">
                        <button class="btn btn-info" type="button"   onclick="deleteLehrer(this); return false;">❌</button>
                    </form>
                  
                    <button type="button" class="btn btn-warning" onclick="window.location.href='/lehrer/edit?Lehrer_Id={{item.Lehrer_Id}}'">✏️</button>

                </td>

            </tr> 


            </tr> 
        {%endfor%}
    </tbody>
</table>


{%endblock%}