{%extends 'base.html'%}

{%block body%}

<div class="d-grid gap-2">
    <button class="btn btn-secondary" type="button"onclick="window.location.href='/lehrer/add'">add</button>
  </div>

<table class="table">
    <thead>
        <tr>
            <td scope="col">Lehrer ID</td>
            <td scope="col">Vorname</td>
            <td scope="col">Nachname</td>
            <td scope="col">Faecher Unterrichtet</td>
            <td scope="col">Anzahl Klassen</td>
        </tr>
    </thead>
    <tbody>
        <body style="background-color:rgb(199, 194, 194);">
        {%for item in paginator.items:%}
            <tr>
                <td scope="row">{{item.Lehrer_Id}}</td>
                <td>{{item.Vorname}}</td>
                <td>{{item.Nachname}}</td>
                <td>{{item.Faecher_Unterrichtet}}</td>
                <td>{{item.Anzahl_Klassen}}</td>
                <td>

                    <form method="post" action="/lehrer/delete">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <input type="hidden" id="Lehrer_Id" name="Lehrer_Id" value="{{item.Lehrer_Id}}">
                        <button class="btn btn-secondary" type="button"   onclick="deleteLehrer(this); return false;">❌</button> <button type="button" class="btn btn-light" onclick="window.location.href='/lehrer/edit?Lehrer_Id={{item.Lehrer_Id}}'">✏️</button>
                    </form>
                  
                   

                </td>

            </tr> 


            </tr> 
        {%endfor%}
    </tbody>
</table>




<!-- Pagination Links-->
<div class="text-right">
    <a href="{{ url_for('lehrer_blueprint.lehrerLoad', page=paginator.prev_num) }}"
       class="btn btn-outline-dark 
       {% if paginator.page == 1 %}disabled{% endif %}">
        &laquo;
    </a>
<!-- Loop through the number of pages to display a link for each-->
    {% for page_num in paginator.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
{% if page_num %}
<!-- Check for the active page and set the link to "Active"-->
            {% if paginator.page == page_num %}
            <a href="{{ url_for('lehrer_blueprint.lehrerLoad', page=page_num) }}"
               class="btn btn-dark">
                {{ page_num }}
            </a>
            {% else %}
            <a href="{{ url_for('lehrer_blueprint.lehrerLoad', page=page_num) }}"
               class="btn btn-outline-dark">
                {{ page_num }}
            </a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
    <a href="{{ url_for('lehrer_blueprint.lehrerLoad', page=paginator.next_num) }}"
       class="btn btn-outline-dark 
       {% if paginator.page == paginator.pages %}disabled{% endif %}">
        &raquo;
    </a>
</div>
<p class="text-right mt-3">
   Showing page {{ paginator.page }} of {{ paginator.pages }}
</p>


{%endblock%}

