{%extends 'base.html'%}

{%block body%}
<div class="d-grid gap-2">
    <button class="btn btn-secondary" type="button"onclick="window.location.href='/faecher/add'">add</button>
  </div>
<table class="table">
    <thead>
        <tr>
            <td scope="col">Fächer Id</td>
            <td scope="col">Bezeichnung</td>
            <td scope="col">Farbe</td>
            <td scope="col">Beschreibung</td>
            <td scope="col">Lehrraum</td>
            <td scope="col">Action</td>
        </tr>
    </thead>
    <tbody>
        <body style="background-color:rgb(199, 194, 194);">
        {%for item in paginator.items:%}
            <tr>
                <td scope="row">{{item.Faecher_Id}}</td>
                <td>{{item.Bzeichnung}}</td>
                <td>{{item.Farbe}}</td>
                <td>{{item.description}}</td>
                <td>{{item.Lehrraum}}</td>
                <td>

                    <form method="post" action="/faecher/delete">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <input type="hidden" id="Faecher_Id" name="Faecher_Id" value="{{item.Faecher_Id}}">
                        <button class="btn btn-secondary" type="button"   onclick="deleteFach(this); return false;">❌</button>  <button type="button" class="btn btn-light" onclick="window.location.href='/faecher/edit?Faecher_Id={{item.Faecher_Id}}'">✏️</button>
                    </form>
                    
                  
                    

                </td>

            </tr> 

            </tr> 
        
        {%endfor%}
    </tbody>
</table>

<!-- Pagination Links-->
<div class="text-right">
    <a href="{{ url_for('faecher_blueprint.faecherLoad', page=paginator.prev_num) }}"
       class="btn btn-outline-dark 
       {% if paginator.page == 1 %}disabled{% endif %}">
        &laquo;
    </a>
<!-- Loop through the number of pages to display a link for each-->
    {% for page_num in paginator.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
{% if page_num %}
<!-- Check for the active page and set the link to "Active"-->
            {% if paginator.page == page_num %}
            <a href="{{ url_for('faecher_blueprint.faecherLoad', page=page_num) }}"
               class="btn btn-dark">
                {{ page_num }}
            </a>
            {% else %}
            <a href="{{ url_for('faecher_blueprint.faecherLoad', page=page_num) }}"
               class="btn btn-outline-dark">
                {{ page_num }}
            </a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
    <a href="{{ url_for('faecher_blueprint.faecherLoad', page=paginator.next_num) }}"
       class="btn btn-outline-dark 
       {% if paginator.page == paginator.pages %}disabled{% endif %}">
        &raquo;
    </a>
</div>
<p class="text-right mt-3">
   Showing page {{ paginator.page }} of {{ paginator.pages }}
</p>

<style>
    .d-grid gap-2{
        margin: 200px;
    }

</style>

{%endblock%}