{%extends 'base.html'%}

{%block body%}

<style> body{ background-color:rgb(199, 194, 194);}</style>



<form method="post" action="/schul/edit">
    <!-- title -->
    <!-- description -->
    <!-- dueDate -->
    <!-- isDone -->

    {{form.csrf_token}}
    
    {{form.school_Id()}}

    <div class="row mb-3">
        <label for="Adresse" class="col-sm-2 col-form-label">Adresse</label>
        <div class="col-sm-10">
            {{form.Adresse()}}
        </div>
    </div>

    <div class="row mb-3">
        <label for="Anzahl_Schüler" class="col-sm-2 col-form-label">Anzahl_Schüler</label>
        <div class="col-sm-10">
            {{form.Anzahl_Schueler()}}
        </div>
    </div>

    <div class="row mb-3">
        <label for="Name_Schule" class="col-sm-2 col-form-label">Name_Schule</label>
        <div class="col-sm-10">
            {{form.Name_Schule()}}
        </div>
    </div>

    <div class="row mb-3">
        <label for="Schulart" class="col-sm-2 col-form-label">Schulart</label>
        <div class="col-sm-10">
            {{form.Schulart()}}
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>


<br></br>
<br></br>


<h2>Lehrer:</h2>
<a href="/schule_lehrer/add?school_Id={{form.school_Id.data}}" class="btn btn-outline-success">➕ Add Teacher to school</a>

<table class="table">
    <thead>
        <tr>
            <td scope="col">Lehrer ID</td>
        </tr>
    </thead>
    <tbody>
        <body style="background-color:rgb(199, 194, 194);">
        {%for item in items:%}
            <tr>
                <td scope="row">{{item.Lehrer_Id}}</td>
                <td>

                    <form method="post" action="/lehrer/delete">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <input type="hidden" id="Lehrer_Id" name="Lehrer_Id" value="{{item.Lehrer_Id}}">
                        <button class="btn btn-secondary" type="button"   onclick="deleteLehrer(this); return false;">❌</button> <button type="button" class="btn btn-light" onclick="window.location.href='/lehrer/edit?Lehrer_Id={{item.Lehrer_Id}}'">✏️</button>
                    </form>
        
                </td>

            </tr> 


            </tr> 
        {%endfor%}
    </tbody>
</table> 

{%endblock body%}