{%extends 'base.html'%}

{%block body%}


<div class="d-grid gap-2">
    <button class="btn btn-secondary" type="button"onclick="window.location.href='/school/add'">add</button>
  </div>
<!--
<table class="table">
    <thead>
        <tr>
            <td scope="col">Schul Id</td>
            <td scope="col">Adresse</td>
            <td scope="col">Anzahl Schüler</td>
            <td scope="col">Name Schule</td>
            <td scope="col">Schulart</td>
            <td scope="col">Action</td>
        </tr>
    </thead>
    <tbody>
        <body style="background-color:rgb(199, 194, 194);">
        {%for item in items:%}
            <tr>
                <td scope="row">{{item.school_Id}}</td>
                <td>{{item.Adresse}}</td>
                <td>{{item.Anzahl_Schüler}}</td>
                <td>{{item.Name_Schule}}</td>
                <td>{{item.Schulart}}</td>
                <td>

                    <form method="post" action="/schul/delete">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <input type="hidden" id="school_Id" name="school_Id" value="{{item.school_Id}}">
                        <button class="btn btn-info" type="button"   onclick="deleteSchul(this); return false;">❌</button>
                    </form>
                  
                    <button type="button" class="btn btn-warning" onclick="window.location.href='/schul/edit?school_Id={{item.school_Id}}'">✏️</button>

                </td>

            </tr> 
            
        {%endfor%}
    </tbody>
</table>
-->


<div class="">
    <div class = "card-body">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <td scope="col">Schul Id</td>
                <td scope="col">Adresse</td>
                <td scope="col">Anzahl Schueler</td>
                <td scope="col">Name Schule</td>
                <td scope="col">Schulart</td>
                <td scope="col">Action</td>
            </tr>
        </thead>
        <tbody>
            <body style="background-color:rgb(199, 194, 194);">
            {%for item in paginator.items:%}
                <tr>
                    <td scope="row">{{item.school_Id}}</td>
                    <td>{{item.Adresse}}</td>
                    <td>{{item.Anzahl_Schueler}}</td>
                    <td>{{item.Name_Schule}}</td>
                    <td>{{item.Schulart}}</td>
                    <td>
    
                        <form method="post" action="/schul/delete">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <input type="hidden" id="school_Id" name="school_Id" value="{{item.school_Id}}">
                            <button class="btn btn-secondary" type="button"   onclick="deleteSchul(this); return false;">❌</button> <button type="button" class="btn btn-light" onclick="window.location.href='/schul/edit?school_Id={{item.school_Id}}'">✏️</button>
                        </form>
                      
                       
    
                    </td>
    
                </tr> 
                
            {%endfor%}
        </tbody>
    </table>
</div>
</div>


<!-- Pagination Links-->
<div class="text-right">
    <a href="{{ url_for('school_blueprint.schulenLoad', page=paginator.prev_num) }}"
       class="btn btn-outline-dark 
       {% if paginator.page == 1 %}disabled{% endif %}">
        &laquo;
    </a>
<!-- Loop through the number of pages to display a link for each-->
    {% for page_num in paginator.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
{% if page_num %}
<!-- Check for the active page and set the link to "Active"-->
            {% if paginator.page == page_num %}
            <a href="{{ url_for('school_blueprint.schulenLoad', page=page_num) }}"
               class="btn btn-dark">
                {{ page_num }}
            </a>
            {% else %}
            <a href="{{ url_for('school_blueprint.schulenLoad', page=page_num) }}"
               class="btn btn-outline-dark">
                {{ page_num }}
            </a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
    <a href="{{ url_for('school_blueprint.schulenLoad', page=paginator.next_num) }}"
       class="btn btn-outline-dark 
       {% if paginator.page == paginator.pages %}disabled{% endif %}">
        &raquo;
    </a>
</div>
<p class="text-right mt-3">
   Showing page {{ paginator.page }} of {{ paginator.pages }}
</p>


{%endblock%}