{%extends 'base.html'%}

{%block body%}

<table class="table">
    <thead>
        <tr>
            <td scope="col">Fächer Id</td>
            <td scope="col">Bzeichnung</td>
            <td scope="col">Farbe</td>
            <td scope="col">Beschreibung</td>
            <td scope="col">Lehrraum</td>
            <td scope="col">Action</td>
        </tr>
    </thead>
    <tbody>
        <body style="background-color:rgb(199, 194, 194);">
        {%for item in items:%}
            <tr>
                <td scope="row">{{item.Faecher_Id}}</td>
                <td>{{item.Bzeichnung}}</td>
                <td>{{item.Farbe}}</td>
                <td>{{item.description}}</td>
                <td>{{item.Lehrraum}}</td>
                

            </tr> 
        
        {%endfor%}
    </tbody>
</table>


{%endblock%}